input[type="email"],
#checked_pw {
	margin-bottom: 2rem;
}

#pw,
#name {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#checked_pw,
#tel {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
    border-top: none;
}